@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .intro__left {
    flex: 0.75;
    overflow: hidden;

    .intro__imageContainer {
      min-width: 700px;
      height: 100vh;
      background-color: #e1fffc;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      @include mobile {
        align-items: flex-start;
      }
      
      img {
        height: 100%;
      
        @include mobile {
          height: 55%;
        }
      }
      
    }
  }

  .intro__right {
    flex: 0.6;
    background-color: white;

    .intro__rightWrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      position: relative;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 50px;
        margin: 10px 0;

        @include mobile {
          font-size: 30px;
        }
      }
      h2 {
        font-size: 32px;

        @include mobile {
          font-size: 20px;
        }
      }
      h3 {
        font-size: 25px;

        @include mobile {
          font-size: 16px;
        }

        span {
          font-size: inherit;
          color: crimson;
        }

        .ityped-cursor {
          animation: cursorBlink 0.9s infinite;
        }

        @keyframes cursorBlink {
          40% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }

      a {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        text-decoration: none;

        img {
          width: 50%;
          animation: arrowBlink 2s infinite;
        }

        @keyframes arrowBlink {
          100% {
            opacity: 0.2;
          }
        }
      }
    }
  }
}