.testimonials {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 60px;
  }

  .testimonials__outerContainer{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .testimonials__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 55%;
      margin-left: 100px;
      background-color: white;
      box-shadow: 0px 0px 15px -8px black;

      .testimonials__formInput, .testimonials__formInputArea {
        width: 80%;
        padding: 10px 0 5px 5px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid lightgray;
        outline-width: 0;
        transition: all 0.8s ease;

        &:focus {
          border-color: gray;
        }
      }

      .testimonials__formInputArea{
        border: 1px solid lightgray;
      }

      input[type="file"] {
        display: none;
      }

      .testimonials__formImgInput {
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 10px 15px;
        cursor: pointer;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 400;
        color: gray;
        transition: all 1s ease;

        &:hover {
          background-color: lightgray;
        }
      }
      

      .testimonials__formButton {
        border: 1px solid lightgray;
        background-color: gray;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        transition: all 1s ease;

        &:hover {
          background-color: lightgray;
          color: gray;
        }
      }
    }

    .testimonials__separator {
      width: 1px;
      height: 60%;
      background-color: #e6e6e6;
    }

    .testimonials__container {
      width: 70%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .testimonials__card {
        width: 250px;
        height: 60%;
        border-radius: 10px;
        box-shadow: 0px 0px 15px -8px black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        margin-left: 30px;
  
        .testimonials__cardTop {
          display: flex;
          align-items: center;
          justify-content: center;
  
          img {
            &.testimonials__cardTopLeft,&.testimonials__cardTopRight {
              height: 25px;
            }
            &.testimonials__cardTopUser {
              width: 70px;
              height: 70px;
              border-radius: 50%;
              object-fit: cover;
              margin: 0 30px;
            }
          }
        }
  
        .testimonials__cardMiddle {
          padding: 10px;
          background-color: rgb(249, 252, 251);
          border-radius: 10px;
          
        }
  
        .testimonials__cardBottom {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
  
          h3 {
            margin-bottom: 5px;
          }
          h4 {
            color: gray;
          }
        }
      }
    }
  }

  
}