@import '../../global.scss';

.testimonials {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 60px;

    @include mobile {
      font-size: 30px;
    }
  }

  .testimonials__outerContainer{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include mobile {
      flex-direction: column-reverse; 
    }

    .testimonials__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 55%;
      padding: 20px 0;
      margin-left: 100px;
      background-color: white;
      box-shadow: 0px 0px 15px -8px black;

      @include mobile {
        display: none;
      }

      h2 {
        margin-bottom: 20px;
      }

      .testimonials__formInput, .testimonials__formInputArea {
        width: 80%;
        padding: 10px 0 5px 5px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #532dff;
        outline-width: 0;
        transition: all 0.8s ease;

        &:focus {
          border-color: $maincolor;
        }
      }

      .testimonials__formInputArea{
        border: 1px solid #532dff;
      }

      input[type="file"] {
        display: none;
      }

      .testimonials__formImgInput {
        display: flex;
        align-items: center;
        justify-items: center;
        height: 25px;
        border: 1px solid #532dff;
        border-radius: 10px;
        padding: 10px 15px;
        cursor: pointer;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 400;
        color: gray;
        transition: all 1s ease;

        &:hover {
          background-color: $maincolor;
          color: white;
        }
      }
      

      .testimonials__formButton {
        border: 1px solid $maincolor;
        background-color: $maincolor;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        transition: all 1s ease;

        &:hover {
          background-color: white;
          color: $maincolor;
        }
      }
    }

    .testimonials__separator {
      width: 1px;
      height: 70%;
      background-color: #532dff;

      @include mobile {
        display: none;
      }
    }

    .testimonials__container {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
  
      .testimonials__card {
        width: 250px;
        height: 60%;
        border-radius: 10px;
        box-shadow: 0px 0px 15px -8px black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        transition: all 0.7s ease-out;
        // margin-left: 30px;

        @include mobile {
          height: 80%;
        }

        @include largeHeightMobile {
          height: 70%;
        }

        &:nth-child(2) {
          width: 300px;
          height: 65%;
          margin: 0 30px;
        }

        // &.featured {
        //   width: 300px;
        //   height: 65%;
        //   margin: 0 30px;
        // }

        &:hover {
          transform: scale(1.1);
        }
  
        .testimonials__cardTop {
          display: flex;
          align-items: center;
          justify-content: center;
  
          img {
            &.testimonials__cardTopLeft,&.testimonials__cardTopRight {
              height: 25px;
            }
            &.testimonials__cardTopUser {
              width: 70px;
              height: 70px;
              border-radius: 50%;
              object-fit: cover;
              margin: 0 30px;
            }
          }
        }
  
        .testimonials__cardMiddle {
          padding: 10px;
          background-color: rgb(249, 252, 251);
          border-radius: 10px;
          
        }
  
        .testimonials__cardBottom {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
  
          h3 {
            margin-bottom: 5px;
          }
          h4 {
            color: gray;
          }
        }
      }

      .testimonials__buttonContainer {
        position: absolute;
        bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          bottom: 0;
        }

        .testimonials__nextButton {
          margin-right: 20px;
          border: 1px solid lightgray;
          border-radius: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #f5f5f5;
          color: gray;
          cursor: pointer;
          transition: all .7s ease;
      
          &:hover {
            background-color: #e9e9e9;
          }
      
          &:active {
            color: white;
            background-color: #5e5e5e;
          }
      
          .MuiSvgIcon-root {
            font-size: 35px;
          }
        }
      }
    }
  }

  
}