.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    // background-color: aquamarine; // background color property makes double scroll for scroll-snap
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    // overflow-y: scroll;
    scroll-snap-type: y mandatory;
    
    scrollbar-width: none; // for firefox
    &::-webkit-scrollbar { // for edge, crome, safari
      display: none;
    }

    > * {
      width: 100%;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
