$maincolor: #15023a;

$headerInfoDisplayWidth: 750px;

$width: 949px;

$height: 660px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content
  }
}

@mixin headerInfoDisplay {
  @media (max-width: #{$headerInfoDisplayWidth}) {
    @content
  }
}

@mixin largeHeightMobile {
  @media (min-height: #{$height}) {
    @content
  }
}